:root {
	--color-a: #031634;
	--color-b: #033694;
	--color-c: #036564;
	--color-d: #cdb380;
	--color-e: #e8ddcb;
}


body{
  background-color: var(--color-a);
}

#main-div {
  background-color: var(--color-b);
  margin:10px;
  max-width: 600px;
  margin: auto;
  padding: 1%;
}

#content-header {
  background-color: var(--color-c);
  padding: 20px;
}

#content-header h1 {
  margin-left: 10%;
  color: var(--color-e);
  font-size: 50px;
  max-width: max-content;
}

#header-sub {
  color: var(--color-e);
  background-color: #ff745a;
  margin-right: 20px;
  margin-left: auto;
  width: 40%;
  font-size: 20px;
  padding : 10px;
  border-radius: 10px;
}

#mainContents{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#mainContents a div.listLink{
  background-color: var(--color-d);
  height: 90px;
  border-radius: 10px;
  margin: 10px;
  transition: height 0.5s, background-color 0.5s;
  display: flex;
  justify-content: space-between;
}

#mainContents a div.listLink:hover {
  background-color: yellowgreen;
  height: 140px;
}

.linkText {
  padding: 20px;
}

div.listLink .linkDescription {
  margin-top: 10px;
  display: none;
  font-size: 15px;
}

div.listLink:hover .linkDescription {
  display: block;
}


.listLink img {
  height: 100%; 
  border-radius: 0 10px 10px 0;
}

#mainContents a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
